/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

.fl-page {
  width: auto;
  overflow: hidden;
}
.featured-products .slick-arrow:before {
  margin-right: 4px !important;
}
.featured-products .slick-arrow.slick-prev {
  z-index: 10 !important;
}
.featured-products .slick-arrow {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 4px !important;
}
.njba-tabs-panel-content {
  padding: 0;
}

.tabReverce .njba-tab-section-main {
  display: flex;
  flex-direction: column-reverse;
}

.tabCenter .njba-tabs-nav {
  display: flex;
  justify-content: center;
}

.gform_wrapper li.hidden_label input {
  margin-top: 0px !important;
}
.saleColumn .fl-rich-text > p {
  display: none !important;
}
.njba-tabs-label.njba-tab-active > .njba-tab-label-inner {
  border-color: #a00a20 !important;
}

.fl-page-bar-container {
  padding: 15px 0;
}

#menu-top-bar-menu .nav-link {
  font-size: 12px;
  font-weight: 500;
  padding: 2px 40px;
  font-family: "Montserrat", sans-serif;
}

/* .fl-page-header-logo .fl-logo-img {
    height: 90px !important;
} */

.fl-page-header-logo {
  text-align: center;
  margin-right: 0px;
  padding: 0 20px;
}
.fl-page-nav-right .fl-page-header-logo {
  text-align: center !important;
}
.fl-page-nav .navbar-nav > li > a.nav-link {
  padding: 22px 7px;
  font-size: 14px !important;
}
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li > a,
.fl-page-bar,
#menu-top-bar-menu .nav-link,
.product-detail-layout-6 .product-variations .color-boxs-inners small {
  font-size: 14px !important;
}
.fl-page-nav-right.fl-page-header-fixed
  .fl-page-nav-wrap
  .navbar-nav
  > li
  > a.nav-link,
.fl-page-header-fixed .fl-page-nav-wrap .navbar-nav > li > a.nav-link {
  padding: 10px 15px !important;
}

/* .fl-page-nav {
	padding: 20px;

} */

.fl-page-header .fl-page-header-container {
  padding: 10px 0;
}

.homeSlider .bx-pager.bx-default-pager {
  bottom: 30px;
}

.homeSlider .bx-wrapper .bx-pager.bx-default-pager a {
  background: #fff;
}

.homeSlider .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: transparent;
  border: 1px solid #fff;
}
.product-plp-grid.product-grid.swatch {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.product-plp-grid
  > .product-row
  > .col-lg-4
  > .fl-post-grid-post
  .product-grid.btn-grey
  > h4
  > span:first-child,
.row.search-row .posts_search_result.post_list.product-grid.swatch h2 {
  min-height: 34px !important;
}
.facetwp-selections ul:before,
div#mm-product-list .product-list-container .facet_filters strong {
  border-bottom: 2px solid #2500ff !important;
  color: #2500ff !important;
}
.page-info .pagination_wrapper > div button,
div#mm-product-list .facet_wrap button {
  color: #fff !important;
  background-color: #2500ff !important;
  border: none;
}

.page-info .pagination_wrapper > div button:hover,
div#mm-product-list .facet_wrap button:hover {
  color: #fff !important;
  background-color: #fe0000 !important;
  border: none;
}
/* product row */

.product-row h4,
.product-row h5 {
  font-weight: 300;
  text-transform: uppercase;
}

.product-row h3 {
  text-transform: uppercase;
}
#gform_wrapper_16 input,
#gform_wrapper_16 #input_16_8_3,
#gform_wrapper_16 #input_16_8 i,
#gform_wrapper_4 input,
#gform_wrapper_4 #input_4_8_3,
#gform_wrapper_4 #input_4_8 i,
#gform_wrapper_4 #input_4_9 {
  margin: 0 !important;
}
.fl-builder-content div.fl-module-button a.fl-button,
.fl-builder-content div.fl-module-button a.fl-button:visited {
  background-clip: border-box !important;
}
#gform_wrapper_16 #input_16_7 {
  width: 100%;
  position: relative;
}
body .gform_wrapper .top_label div.ginput_container {
  position: relative;
}
#gform_wrapper_16 #field_16_7 .ginput_container_date img {
  position: absolute;
  top: 35%;
  right: 15px;
}
.gform_body select {
  border-radius: 4px;
}

#gform_wrapper_16 #field_16_2,
#gform_wrapper_16 #field_16_7,
#gform_wrapper_4 #field_4_2,
#field_9_2,
#field_4_12 {
  padding-right: 0px;
}

.fl-page .fl-page-content .fl-content-full.container > .row > .fl-content {
  margin: 0;
}

.mfp-wrap .mfp-close,
.mfp-wrap .mfp-close:active,
.mfp-wrap .mfp-close:hover,
.mfp-wrap .mfp-close:focus {
  color: #fff;
}

.fl-builder-content .location-top a.fl-button span {
  color: inherit !important;
}

.fl-builder-content .location-top a.fl-button:hover {
  background: #a00a20;
}

#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
  background-color: #c92828;
  border-top: 1px solid #fff;
}

#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p a:hover,
button.moove-gdpr-infobar-close-btn:hover i {
  color: #f5f5f5 !important;
  opacity: 0.7;
}

.moove-gdpr-button-holder > button.mgbutton {
  background-color: #2500ff !important;
  color: #fff !important;
  border-radius: 0px !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 300 !important;
  letter-spacing: 0.3 !important;
  text-transform: uppercase !important;
  box-shadow: none !important;
  border: none !important;
}
.moove-gdpr-button-holder > button.mgbutton:hover {
  background: #000000 !important;
  color: #fff !important;
  text-transform: uppercase !important;
  border-color: #000000 !important;
}

#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-left-content
  #moove-gdpr-menu
  li
  button {
  color: #000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon {
  background-color: #2500ff !important;
  border: 1px solid #fff !important;
}
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  i:hover,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon:hover,
#moove_gdpr_cookie_info_bar span[data-href] > u.change-settings-button {
  color: #fff !important;
  background-color: #000000 !important;
}
button.moove-gdpr-infobar-close-btn:hover i {
  color: #000000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button {
  background-color: #2500ff !important;
  color: #fff !important;
  border: 0px !important;
  border-radius: 0px !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 300 !important;
  letter-spacing: 0.3 !important;
  text-transform: uppercase !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button:hover {
  background: #000000 !important;
  color: #fff !important;
  border: 0px !important;
}

.moove-gdpr-tab-main-content a:hover {
  color: #2500ff !important;
}

.product-plp-grid
  > .product-row
  > .col-lg-4
  > .fl-post-grid-post
  .product-grid.btn-grey
  > h4
  > span:first-child,
.row.search-row .posts_search_result.post_list.product-grid.swatch h2 {
  min-height: 34px !important;
}

.product-plp-grid.product-grid.swatch {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
div#mm-product-list .product-list-container > .row > .row {
  width: 100%;
}

.product-color-variationPlp.plp_slide_wrap .slides.row {
  flex-wrap: nowrap;
}
div#mm-product-list .facet_filters {
  position: static;
  z-index: 9 !important;
}

.page-template-choose_your_style_metro .button-wrapper .button.alt {
  display: none !important;
}

.storename {
  list-style-type: none;
}
.storename .phone a span:before {
  content: "\f095";
  font: normal normal normal 18px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  vertical-align: middle;
  margin-right: 5px !important;
  font-size: 16px;
}
input#gform_submit_button_23:hover {
  border: 1px solid;
}
.phone_wrap .storename .phone a span:before {
  content: "";
}
ul.store-opening-hrs {
  padding-left: 0;
  list-style-type: none;
}
ul.store-opening-hrs li {
  line-height: 30px;
}
.fl-page-bar-nav > li > a {
  display: inline-block;
}
/* css for plp page new layout*/

.product-plp-grid .product-variations1 .slides figure {
  margin: 0px !important;
}
.facet_filters .facet-wrap > strong {
  padding-bottom: 3px;
  border-bottom: 2px solid #2500ff !important;
}

.product-plp-grid .product-row .fl-post-grid-post .fl-post-grid-image {
  min-height: 240px;
}
/* css for plp page new layout*/
.njba-logo-inner {
  background: transparent;
  border: none;
}
.active-gallery-modal .gallerySlider .gallery-img-holder img {
  width: auto;
  height: auto;
  max-height: 600px;
  margin: 0 auto;
}
.homeSlider .fl-slide.fl-slide-2 .fl-slide-photo img {
  max-width: 440px;
}
button#responsive-menu-button {
  background: #2500ff !important;
}
#menu-top-bar-menu li a h1.googlekeyword {
  font-size: 13px !important;
}
#responsive-menu-container #responsive-menu-wrapper,
#responsive-menu-container #responsive-menu li.responsive-menu-item a,
#responsive-menu-container
  #responsive-menu
  li.responsive-menu-item
  a
  .responsive-menu-subarrow {
  background: #2500ff;
}
#responsive-menu-container
  #responsive-menu
  li.responsive-menu-item
  a
  .responsive-menu-subarrow {
  border-color: #2500ff;
  height: 35px;
}

.fl-builder-content-128 .widget.widget_nav_menu ul li a {
  font-family: Montserrat;
}
.facet_filters strong {
  color: #2500ff;
}
.fl-page a.fl-button:hover,
.fl-page a.fl-button {
  border: none;
}
.brands_we_love .slick-track {
  margin: 0 auto;
}

.container.fl-content-full {
  margin: 0;
  padding: 0;
  width: auto;
  max-width: none;
}
.full-width-img {
  text-align: center;
}

.rmp-container .rmp-menu-additional-content .message {
  color: #fff;
}

.rmp-container .rmp-menu-additional-content .message:hover {
  text-decoration: underline;
}

.container .row .product-detail-layout-6 .product-variations img {
  padding: 5px !important;
}

.container .row .product-detail-layout-6 .color-box {
  min-height: 50px;
}
.container .row .product-detail-layout-6 .color-box .color-boxs-inner {
  margin-bottom: 0px !important;
}

/*New pdp css */
.container .row .product-detail-layout-6 .product-variations a {
  border: none !important;
  outline: none !important;
}
.container .row .product-detail-layout-6 .product-variations img {
  padding: 5px !important;
}

.container .row .product-detail-layout-6 .color-box {
  min-height: 50px;
}
.container .row .product-detail-layout-6 .color-box .color-boxs-inner {
  margin-bottom: 0px !important;
}
.product-detail-layout-6 .image-expander img {
  filter: drop-shadow(0px 0px 2px black);
}
.container .row .product-detail-layout-6 #product-images-holder > div {
  background-size: cover !important;
}

/*New PDP Button Color css */
.product-detail-layout-6 .dual-button a {
  background-color: #2500ff !important;
  color: #fff !important;
  border-style: solid;
  border-width: 1px;
  border-color: #2500ff;
}

.product-detail-layout-6 .dual-button a:hover {
  color: #fff !important;
  background-color: #fe0000 !important;
  border-style: solid;
  border-width: 1px;
  border-color: #fe0000;
}

.product-detail-layout-6 .button-wrapper > a {
  color: #fff !important;
  background-color: #fe0000 !important;
  border-style: solid;
  border-width: 1px;
  border-color: #fe0000;
}

.product-detail-layout-6 .button-wrapper > a:hover {
  background-color: #2500ff !important;
  color: #fff !important;
  border-style: solid;
  border-width: 1px;
  border-color: #2500ff;
}

body.admin-bar button.rmp_menu_trigger {
  margin-top: 32px;
}

.product-detail-layout-6 .toggle-image-thumbnails {
  width: 100%;
}
.product-detail-layout-6 .slide.selected-slide:after {
  height: 30% !important;
  width: 30% !important;
  background-size: contain;
  top: 30% !important;
  left: 35%;
}

.fl-module-uabb-gravity-form div.uabb-gf-style {
  padding: 20px 0;
}
.display-flex h3 {
  display: flex;
}

.gfield_captcha_input_container.math_medium input {
  width: auto !important;
}

.fl-page-nav-wrap {
  display: block !important;
}
.post .fl-post-content.clearfix {
  width: 100%;
  clear: both;
  display: block;
}

.store-opening-hrs-container .store-opening-hrs li {
  display: flex;
  justify-content: space-between;
  padding: 0 0 10px;
}

ul.store-opening-hrs {
  padding-left: 0;
  max-width: 300px;
}
/*Roomvo button CSS*/
.page-id-1281563
  a.uabb-button.uabb-creative-button.uabb-creative-flat-btn.uabb-none-btn,
.page-id-1281563 a.uabb-btn.uabb-btn-one {
  background: #2500ff !important;
  border: 1px solid #2500ff !important;
  border-radius: 0px !important;
}

.page-id-1281563 a.uabb-btn.uabb-btn-two {
  border-radius: 0px !important;
}

/*Roomvo button hover*/
.page-id-1281563
  a.uabb-button.uabb-creative-button.uabb-creative-flat-btn.uabb-none-btn:hover,
.page-id-1281563 a.uabb-btn.uabb-btn-one:hover,
.page-id-1281563 a.uabb-btn.uabb-btn-two:hover {
  background: #000 !important;
  border: 1px solid #000 !important;
}

.product-grid.btn-grey > h4 > span,
a.link.getcouponbtnlink span,
#breadcrumbs *,
#breadcrumbs a,
.product-grid.btn-grey .product-variations1 > h5 {
  font-size: 14px !important;
}

.gform_legacy_markup_wrapper textarea.large {
  height: 180px !important;
}

/*Project Gallery */

.project-gallery .fl-photo-caption-below {
  text-align: left !important;
}

/* Image Galleries */

.fl-post-grid-gallery {
  width: 300px;
  height: 300px;
}

.gallery-menu ul li a:hover {
  text-decoration: none;
}

/* Reviews */

.reviews h4 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.reviews img {
  margin: 0;
  padding: 0 0 5px 0;
}

/* Product Grid */

.swatch-thumb {
  max-height: 238px;
  overflow: hidden;
}

.swatch-thumb img {
  width: 100%;
  height: auto;
}

.product-grid.swatch {
  text-align: center;
}

.product-grid.rooms {
  text-align: left;
}

.product-grid.featured {
  text-align: center;
}

.product-grid.swatch h2 {
  font-weight: 700;
  margin: 0 0 10px 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 16px;
}

.product-grid.swatch h4 {
  font-size: 10px;
  margin: 5px 0 0 0;
  padding: 0;
  text-transform: uppercase;
  color: #929292;
}

.product-grid.rooms h2 {
  font-weight: 700;
  margin: 10px 0 0 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 16px;
}

.product-grid.rooms h4 {
  font-size: 10px;
  margin: 5px 0 5px 0;
  padding: 0;
  text-transform: uppercase;
  color: #929292;
}

.strike-price {
  color: #929292;
  text-decoration: line-through !important;
  margin-right: 10px;
}

.sale-price {
  font-weight: 700;
  color: #212121;
}

.product-grid.featured h2 {
  font-weight: 700;
  margin: 0 0 15px 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 16px;
}

.product-grid.featured h4 {
  font-size: 10px;
  margin: 10px 0 0 0;
  padding: 0;
  text-transform: uppercase;
  color: #929292;
}

.product-grid .fl-button {
  margin-bottom: 10px;
}

.product-grid .fl-button-text {
  font-size: 12px;
}

.product-grid a {
  text-decoration: none;
  font-size: 13px;
}

.product-grid a.link {
  color: #929292;
}

.product-grid a.link:hover {
  text-decoration: underline;
  color: #929292;
}

.product-grid a.greylink {
  color: #908c7b;
}

.product-grid a.greylink:hover {
  text-decoration: underline;
  color: #908c7b;
}

.njba-tabs-style-7 .njba-tab-menu-main .njba-tab-label-inner {
  border-bottom: 4px solid transparent;
}

.product-grid .swatch-thumb img {
  width: 100%;
  height: auto;
}

.product-grid .fl-post-grid-post {
  margin-bottom: 40px;
}

/* Facet CSS */

.facetwp-facet select {
  width: 100%;
  padding: 10px;
}

.facetwp-selections ul li {
  font-size: 16px;
}

.facetwp-per-page {
  text-align: right !important;
}

.facetwp-per-page select {
  padding: 5px;
}

.facetwp-counts {
}

.facetwp-pager {
  float: right;
}

.bottom-pager .facetwp-pager {
  float: none;
  text-align: center;
}

.facetwp-pager span.pager-text {
  font-size: 14px !important;
  padding-right: 10px;
}

.facetwp-pager span.pager-arrow {
  font-size: 28px;
}

.facetwp-pager a {
  color: #929292;
  vertical-align: middle;
}

.facetwp-pager a:hover {
  text-decoration: none;
}

.facetwp-page {
  display: inline-block;
  padding: 0px 4px;
  margin-right: 6px;
  cursor: pointer;
}

.product-count {
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.9);
}

.faceted_results {
  margin-top: 20px;
}

.facet-wrap {
  display: none;
}

.facet-wrap.is-hidden {
  display: none !important;
}

.facet_filters .facetwp-facet {
  margin-bottom: 25px;
}

.facet_filters strong {
  font-size: 16px;
  color: #630a0a;
  display: block;
  margin: 0 0 10px;
}

.facet-inner {
  max-height: 360px;
  overflow: auto;
}

/* Product Box */

.product-box {
  text-align: left;
}

.product-box a.fl-button {
  font-size: 13px;
  padding: 10px 20px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  width: 180px !important;
  display: block;
  text-align: center;
}

.product-box a.fl-button:hover {
  text-decoration: none;
}

.product-box a.fl-button.btn-white {
  background-color: transparent !important;
  border-color: #554e46 !important;
}

.product-box a.fl-button.view_more {
  background: #a00a20;
  border-color: #a00a20;
}

.product-box a.fl-button.view_more:hover {
  background: transparent;
}

.product-box a.fl-button.view_more:hover .fl-button-text {
  color: #a00a20;
}

.product-box h1 {
  margin: 0 0 0 0;
  padding: 0;
  text-transform: none;
  font-weight: 700;
}

.product-box h2 {
  margin: 0 0 0 0;
  padding: 0;
  font-size: 1.8rem;
}

/* Product Colors */

.product-colors ul {
  margin: 15px 0 0 0;
  padding: 0;
  list-style: none;
}

.product-colors ul li {
  display: inline-block;
  text-align: left;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.product-colors ul li.found {
  font-size: 5rem;
  padding-right: 15px;
  font-weight: 300;
}

/* Product Attributes */

.product-atts ul {
  margin: 40px 0 0 0;
  padding: 0;
  color: #008c8c;
}

.product-atts ul li {
  list-style: none;
  display: inline;
  margin: 0;
  padding: 20px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.product-atts a.fl-button {
  padding: 10px 40px;
}

.product-attributes {
  text-transform: capitalize;
  margin-bottom: 80px;
  margin-top: 60px;
}

.product-attributes table th,
.product-attributes table td {
  padding: 12px !important;
}

.product-attributes table th {
  width: 30%;
}

.product-attributes table td {
  width: 70%;
}

/* Product Swatch */

.product-swatch {
  text-align: center;
}

.product-swatch .img-responsive {
  background-size: contain !important;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 450px;
}

.product-swatch .img-responsive img {
  display: none;
  margin: 0 auto;
}

/* Product Variation */

.product-variations {
  margin: 80px 0 50px 0;
  text-align: center;
}

.product-variations > .row {
  display: block;
}

.product-variations img {
  width: 100%;
  height: auto;
  padding: 0px !important;
}

img.product-logo {
  max-width: 140px;
  height: auto;
  margin-bottom: 15px;
}

/* Color Box */

.color-box {
  margin-bottom: 30px;
  line-height: normal;
  min-height: 180px;
}

.color-box small {
  font-size: 80%;
}

.product-brand {
  text-transform: uppercase;
  font-size: 0.85em;
  margin-bottom: 0;
  min-height: 20px;
  letter-spacing: 2px;
}

.product-detail-layout-5 .product-variations {
  margin: 0 0 50px;
  padding: 20px 0;
  position: relative;
  background: #fff9f2;
}

.slick-initialized .slick-slide {
  max-width: none;
}

/* Image Gallery Modal */

.galleryMenu .menu-item:not(.current-page-ancestor) a {
  color: rgba(255, 255, 255, 0.6);
}

.active-gallery-modal .fl-post-title {
  font-family: "PT Sans Narrow";
}

.footerSocial-icons ul.social-icons {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  font-size: 26px;
}

.footerSocial-icons ul.social-icons > li {
  padding: 0 10px;
}

.footerSocial-icons ul.social-icons > li > a {
  color: #767676;
}

.footerSocial-icons ul.social-icons > li > a:hover i {
  color: #2500ff !important;
}
footer a:hover {
  color: #2500ff !important;
}
.footerWrapper {
  font-family: roboto;
}
.product-detail-layout-6 .product-colors ul li.colors {
  margin-left: 5px;
}

.storename,
.footerWrapper .storename {
  padding: 0;
  list-style: none;
}

.footerWrapper .storename p {
  margin: 0 !important;
}

.njba-tabs-panel-content > p {
  display: none;
}

.backgroundImage-color {
  padding: 0 80px 50px;
  background: #fff9f2;
}

.njba-tabs.njba-tab-section-main
  .tab-align-center
  .njba-tabs-nav
  .njba-tabs-label.njba-tab-active
  .njba-tab-label-inner {
  border-color: rgb(160, 10, 32);
}

.fl-page .btnReverce a.fl-button {
  padding: 20px 35px;
  background: transparent;
  border-color: #ffffff;
}

.fl-page .btnReverce a.fl-button > * {
  color: #ffffff;
}

.fl-page .btnReverce a.fl-button:hover {
  background: #ffffff;
}

.fl-page .btnReverce a.fl-button:hover > * {
  color: #383838;
}

.search-wrapper {
  padding: 10px;
}

.phoneno > a {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.phoneno .storename {
  margin: 0px;
}

.navbar .nav .menu-item-has-children > a:after {
  content: "\f078";
  font-family: FontAwesome !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  vertical-align: top;
  margin: -2px 0 0 10px;
  font-weight: 400;
}

.navbar .nav .sub-menu .menu-item-has-children > a:after {
  content: "\f054";
  position: absolute;
  right: 15px;
  top: 50%;
  margin: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

button#responsive-menu-button {
  z-index: 999 !important;
}

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type="checkbox"] {
  margin-top: 0px !important;
}

.form-wrap-shopat {
  z-index: 999;
}

#responsive-menu-additional-content a {
  color: #fff;
  font-size: 16px;
}

.timeEstimate .ginput_container_time select {
  width: 100px !important;
}

.facetwp-checkbox {
  font-size: 15px !important;
}

.button-wrapper-default a,
.button-wrapper-default a.button {
  text-align: center !important;
}
.responsive-button-wrapper-default a,
.responsive-button-wrapper-default a.button {
  text-align: center !important;
}
.direction a:hover {
  border: 1px solid #ff4141 !important;
  background: #ff4141 !important;
}

/*Filter Select Design*/

.facetwp-selections ul:before {
  content: "Your Selection";
  font-weight: 700;
  font-size: 16px;
  border-bottom: 2px solid #2500ff;
  padding: 0px;
  width: 100% !important;
  position: relative;
  display: block;
  margin-bottom: 5px;
  color: #2500ff;
  padding: 5px 5px 5px 0px;
}
.facetwp-selections ul li .facetwp-selection-label {
  font-size: 16px;
  font-weight: 700;
}

.facetwp-selections ul {
  padding-left: 0px;
  margin-bottom: 20px;
}

@media (min-width: 767px) {
  .ds_hide {
    display: none !important;
  }
}

@media (min-width: 768px) {
  input#input_22_12 {
    width: 200px;
  }

  .responsive-menu-item-link {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
}

/* @media (min-width: 992px) {
  .product-grid.swatch .row > :nth-child(4n + 1) {
    clear: left;
  }
  .product-grid.rooms .row > :nth-child(4n + 4) {
    clear: left !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .product-grid.swatch .row > :nth-child(3n + 1) {
    clear: left;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .product-grid.rooms .row > :nth-child(2n + 1) {
    clear: left;
  }
} */

@media (max-width: 1340px) {
  .fl-page-nav-right .fl-page-nav-wrap .navbar-nav li > a,
  .fl-page-bar,
  #menu-top-bar-menu .nav-link,
  .product-detail-layout-6 .product-variations .color-boxs-inners small {
    font-size: 12px !important;
  }
}

@media (max-width: 1024px) {
  button#rmp_menu_trigger-1292218 {
    top: 90px;
  }

  .fl-page-nav .navbar-nav > li > a.nav-link {
    padding: 12px 10px;
  }

  #menu-top-bar-menu .nav-link {
    padding: 2px 10px;
  }

  .fl-page-nav-right.fl-page-header-fixed
    .fl-page-nav-wrap
    .navbar-nav
    > li
    > a.nav-link,
  .fl-page-header-fixed .fl-page-nav-wrap .navbar-nav > li > a.nav-link {
    padding: 10px 15px;
  }
  #responsive-menu-container #responsive-menu li.responsive-menu-item a:hover,
  #responsive-menu-container
    #responsive-menu
    li.responsive-menu-current-item
    > .responsive-menu-item-link {
    background-color: #2500ff !important;
  }
  #responsive-menu-container
    #responsive-menu
    li.responsive-menu-item
    a
    .responsive-menu-subarrow.responsive-menu-subarrow-active,
  #responsive-menu-container
    #responsive-menu
    ul.responsive-menu-submenu
    li.responsive-menu-item
    a:hover
    .responsive-menu-subarrow,
  #responsive-menu-container
    #responsive-menu
    li.responsive-menu-item
    a:hover
    .responsive-menu-subarrow {
    color: #ffffff !important;
  }
  .product-detail-layout-6 .toggle-image-thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 992px) {
  .fl-page-header-primary .fl-logo-img {
    max-width: 300px !important;
  }
  .fl-page-nav-search {
    display: block !important;
  }
  .facetwp-per-page select.facetwp-per-page-select {
    width: 100px;
  }

  .rmp-menu-additional-content .storename li a {
    color: #fff;
  }
  #rmp-menu-item-501719 > a {
    height: 40px;
    line-height: 40px;
    letter-spacing: 0px;
    font-size: 15px;
    border-bottom: 2px solid #fff;
    font-family: inherit;
    font-weight: 400;
    color: #fff;
    text-align: left;
    background-color: #212121;
    padding-left: 15%;
    display: block;
  }
  .facet_filters {
    position: static;
    width: auto;
    box-shadow: none;
  }
  .facet_filters .close_bar,
  .open_sidebar,
  .close_sidebar_button {
    display: none;
  }
  .facetwp-per-page,
  .facetwp-pager {
    text-align: right !important;
  }
  #product-list-top-filters .fl-heading,
  .facetwp-counts {
    text-align: left !important;
  }

  #product-list-top-filters .fl-col-group .fl-col {
    width: auto !important;
  }
  .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
    padding: 0 !important;
  }
  .product .product-detail-layout-default .product-swatch,
  .product .product-detail-layout-default .product-box {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  div#topbar .fl-menu .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }

  .fl-page-header-row .col-md-12.col-lg-9.fl-page-nav-col {
    display: none !important;
  }
  ul#menu-top-bar-menu > li {
    display: none;
  }
  ul#menu-top-bar-menu li.mb_show {
    display: block !important;
  }

  ul#menu-top-bar-menu li .address p {
    margin: 0;
    padding: 0;
  }

  ul#menu-top-bar-menu li .address a {
    display: inline-block;
    position: relative;
    padding-left: 20px;
  }

  ul#menu-top-bar-menu li ul.storename .address a:before,
  ul#menu-top-bar-menu li ul.storename p.inline_address a:before {
    content: "\F041";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    font-size: 18px !important;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    position: absolute;
    top: 0;
    left: 0;
  }

  .fl-page-header-logo {
    text-align: left !important;
  }
  /* 	#rmp_menu_trigger-1292218{
		top: 110px !important;
	} */
  #rmp-menu-wrap-1292218 .rmp-menu-item-link {
    text-transform: uppercase !important;
  }
  footer * {
    text-align: center !important;
  }
  .footer-1-top.footerWrapper .fl-row-content-wrap {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
  }
  #rmp-menu-additional-content-1292218 {
    padding-top: 20px !important;

    text-align: left !important;
  }
  .fl-node-5cb4f89f19241.fl-module > .fl-module-content {
    margin-top: 0;
  }
  .fl-node-5cb52bb08e8e6 {
    height: 0;
  }

  .fl-content-slider .fl-slide-bg-photo {
    position: absolute !important;
    min-height: 500px !important;
  }
  .fl-content-slider
    .fl-slide-foreground
    .fl-builder-content
    .fl-row
    > .fl-row-content-wrap {
    min-height: 500px;
  }
  .fl-slide-mobile-photo {
    z-index: +2;
    position: relative;
    max-height: 500px !important;
    text-align: center !important;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .fl-slide-mobile-photo > img {
    padding: 50px;
    max-height: 500px !important;
    width: auto;
    margin: 0 auto;
  }
  .fl-content-slider .fl-slide {
    min-height: 500px !important;
    max-height: 500px !important;
  }
  .product-attributes table {
    table-layout: fixed !important;
  }
  .fl-content-slider .fl-slide-bg-link {
    z-index: +2;
  }
  /* PLP Page Css iPad Air */

  /* Facet Filter CSS	- iPad */
  .facet_filters .close_bar {
    display: block;
  }
  #product-list-top-filters .fl-col-group .fl-col {
    width: 100% !important;
    text-align: center;
  }
  #product-list-top-filters .fl-heading,
  .facetwp-counts,
  .facetwp-pager,
  .facetwp-per-page,
  .open_sidebar {
    text-align: center !important;
  }
  .facetwp-per-page-select {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .open_sidebar a {
    float: none !important;
  }
  .facet_filters {
    position: fixed;
    top: 0px;
    left: -5px;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: white;
    z-index: 10;
    left: -1000px;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
  }
  .facet_filters .close_bar {
    background-color: #008c8c;
    overflow: hidden;
    width: 100%;
    padding: 5px;
    display: block;
    margin-bottom: 20px;
  }
  .facet_filters .close_bar .close {
    float: right;
    color: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
  }
  .open_sidebar,
  .close_sidebar_button {
    display: block;
  }
  .facetwp-pager {
    float: none !important;
    margin-top: 10px;
  }
  /* Products List CSS - iPad */
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 33.33%;
    float: left;
    clear: none !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: left !important;
  }
  .product-row > div.col-md-3:nth-child(3n + 1) {
    clear: none !important;
  }
  button#rmp_menu_trigger-1292218 {
    top: 210px;
  }
	
	.custombanneralert {
    font-size: 16px;
    line-height: 20px;
}
}

@media (max-width: 991px) {
  button#responsive-menu-button {
    position: absolute !important;
  }
}

/* Floorte Additional css start */
@media (max-width: 768px) {
  .fl-builder-content-97052 .fl-node-5d7f5495decba.fl-col > .fl-col-content {
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
  }
  .fl-builder-content-97052 .fl-col[data-node] .fl-col-content {
    margin: 0px;
  }
  .fl-builder-content-97052 .fl-node-5dcd4d63babf0 img {
    padding: 0 20px;
  }
  .fl-builder-content-97052
    .fl-node-5d7f5495deccd.fl-row
    > .fl-row-content-wrap {
    padding-bottom: 30px;
  }
  .fl-builder-content-97052
    .fl-node-5d7f5495decc9.fl-row
    > .fl-row-content-wrap {
    margin-top: -49px !important;
  }
  .fl-builder-content-97052 .fl-node-5d7f5495decd6 > .fl-module-content,
  .fl-builder-content-97052 .fl-node-5d7f5495dece3 > .fl-module-content {
    margin-top: 20px !important;
  }
  .fl-builder-content-97052
    .fl-node-5dcd4a3e3035b.fl-module
    > .fl-module-content {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .fl-builder-content-97052 .fl-node-5d7f5495decc5 {
    width: 100% !important;
    max-width: none;
    clear: none;
    float: left;
  }
  .fl-builder-content-97052 .fl-node-5d7f5495decba > .fl-col-content {
    margin-right: 10px;
    margin-left: 10px;
  }
  .fl-builder-content-97052 .fl-node-5d7f5495decba {
    width: 100% !important;
    max-width: none;
    clear: none;
    float: left;
  }
  .fl-builder-content-97052
    .fl-node-5d7f5495decb6.fl-row
    > .fl-row-content-wrap {
    padding-top: 0px;
  }
  .fl-builder-content-97052 .fl-row[data-node] .fl-row-content-wrap {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .fl-builder-content-97052
    .fl-node-5d83277bab2cd.fl-module
    > .fl-module-content {
    margin-top: 30px;
    padding: 0px 20px;
  }
  .fl-builder-content-97052 .fl-visible-desktop-medium {
    display: none;
  }
  .fl-builder-content-97052 .fl-visible-mobile {
    display: block;
  }
  .fl-builder-content-97052
    .fl-col-group-custom-width.fl-col-group-responsive-reversed
    .fl-node-5d7f5495decd8 {
    flex-basis: 100%;
  }
  .fl-builder-content-97052
    .fl-col-group-custom-width.fl-col-group-responsive-reversed
    .fl-node-5d7f5495decd9 {
    flex-basis: 100%;
  }
  .fl-builder-content-97052
    .fl-col-group-responsive-reversed
    .fl-col:nth-of-type(1) {
    -webkit-box-ordinal-group: 12;
    -moz-box-ordinal-group: 12;
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12;
  }
  .fl-builder-content-97052
    .fl-col-group-responsive-reversed
    .fl-col:nth-of-type(2) {
    -webkit-box-ordinal-group: 11;
    -moz-box-ordinal-group: 11;
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11;
  }
  .fl-builder-content-97052 .fl-node-5d7f5495decd8.fl-col > .fl-col-content {
    padding-top: 40px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
  }
  .fl-builder-content-97052 .fl-node-5d7f5495decc0 {
    width: 100% !important;
    max-width: none;
    clear: none;
    float: left;
    text-align: center;
  }
  .fl-builder-content-97052 .fl-node-5d7f5495decc1 {
    width: 100% !important;
    max-width: none;
    clear: none;
    float: left;
  }
  .product-grid .product-row .fl-post-grid-post .fl-post-grid-image > a > img {
    min-height: 230px;
  }
  .fl-builder-content-97052 .fl-node-5d7f5495decc1.fl-col > .fl-col-content {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .fl-builder-content-97052 .fl-node-5d7f5495dece2 > .fl-module-content {
    margin: 20px 0 !important;
  }
  .product-detail-layout-6 .imagesHolder #roomvo {
    width: 100% !important;
    padding-bottom: 0;
    left: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
  }
  .rmp-menu-additional-content .storename li a {
    color: #fff;
  }
  .featured-products .featured-product-list .featured-product-item {
    width: 33.33%;
  }
  .featured-products
    .featured-product-list
    .featured-product-item
    .prod-img-wrap {
    justify-content: center;
  }
  .featured-products
    .featured-product-list
    .featured-product-item
    .product-info {
    text-align: center;
  }
  #rmp-menu-item-501719 > a {
    height: 40px;
    line-height: 40px;
    letter-spacing: 0px;
    font-size: 15px;
    border-bottom: 2px solid #fff;
    font-family: inherit;
    font-weight: 400;
    color: #fff;
    text-align: left;
    background-color: #212121;
    padding-left: 15%;
    display: block;
  }
}
/* Floorte Additional css end */

@media (max-width: 767px) {
  .fl-page-bar-nav > :nth-child(2) {
    display: block;
  }
  /*     .fl-page-header-primary .fl-logo-img{
          max-width: 80%!important;
      } */
  .product-row.featured h3,
  .product-row.featured h4,
  .product-row.featured h5 {
    text-align: center !important;
  }
  .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-mobile
    .fl-page-header-logo {
    text-align: left !important;
    text-align: center;
    margin-right: 0px;
  }
  .product-row.featured h4 {
    margin-bottom: 20px !important;
  }
  .fl-page-bar-nav > li {
    display: none;
  }
  .fl-page-bar-nav > :first-child {
    display: block;
  }

  .uabb-module-content .uabb-text-editor.uabb-tabs-desc .fl-callout-title {
    font-size: 26px;
  }

  #responsive-menu li a {
    text-transform: uppercase;
  }
  .product-grid.swatch .row > :nth-child(2n + 1) {
    clear: left;
  }

  .facet_filters {
    position: fixed;
    top: 0px;
    left: -5px;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: white;
    z-index: 10;
    left: -1000px;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
  }
  .facet_filters .close_bar,
  .open_sidebar,
  .close_sidebar_button {
    display: block;
  }
  .facetwp-per-page,
  .facetwp-pager {
    float: none;
  }
  .facetwp-per-page,
  .facetwp-pager,
  #product-list-top-filters .fl-heading,
  .facetwp-counts {
    text-align: center !important;
  }
  .featured-products .featured-product-list .featured-product-item {
    width: 50%;
  }
}

@media only screen and (max-width: 599px) {
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 48%;
    clear: none !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: none !important;
  }
}

@media (max-width: 500px) {
  button#responsive-menu-button {
    top: 18px !important;
  }
  .product-box a.fl-button {
    width: 100% !important;
  }
  .quality-family-best-wrap .uabb-list-icon-wrap {
    width: 60% !important;
    display: block;
    margin: 10px 0px !important;
  }
  .featured-products .featured-product-list .featured-product-item {
    width: 100%;
  }
  #rmp_menu_trigger-1292218 .responsive-menu-pro-inner,
  #rmp_menu_trigger-1292218 .responsive-menu-pro-inner::before,
  #rmp_menu_trigger-1292218 .responsive-menu-pro-inner::after {
    height: 2px;
  }

  #rmp_menu_trigger-1292218 {
    top: 170px !important;
  }
  .product-detail-layout-6 .image-expander {
    right: 25px !important;
  }
}

@media only screen and (max-width: 480px) {
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 100%;
    clear: both !important;
  }
  .fl-page-header-primary .fl-logo-img {
    max-width: 220px !important;
  }
  a.rmp-menu-item-link {
    font-size: 11px !important;
  }
  .rmp-submenu .rmp-menu-item-link {
    font-size: 8px !important;
  }
}

@media only screen and (max-width: 321px) {
  #rmp_menu_trigger-1292218 {
    top: 160px !important;
  }
}
